{% embed 'partials/base.html.twig' %}

  
  {% block content %}

  <h3> {{ page.title }} </h3>

  {% embed 'partials/projects-like-this.html.twig' with {'project': page.parent} %}

  {% endembed %}

  {% endblock %}

{% endembed %}